apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: minitelegram
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: minitelegram
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: ghcr.io/sthics/telegram/gateway:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DSN
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DSN
            - name: REDIS_ADDR
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: REDIS_ADDR
            - name: AMQP_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: AMQP_URL
            - name: JWT_PRIVATE_KEY_PATH
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: JWT_PRIVATE_KEY_PATH
            - name: GIN_MODE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: GIN_MODE
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: PORT
          volumeMounts:
            - name: jwt-keys
              mountPath: /secrets
              readOnly: true
      volumes:
        - name: jwt-keys
          secret:
            secretName: jwt-keys
